<p id="notice"><%= notice %></p>

  <h3>Company:</h3>
<h1>
  <%= @company.company %>
</h1>

<h3>Questions:</h3>
<div id='questions'>
<% @company.questions.each do |question| %>
<%= div_for question do %>
<p>
	Posted <%= time_ago_in_words(question.created_at) %><br>
	<h2><%= h(question.question)%></h2>
</p>
	<%end%>
<%end%>
</div>

<%= form_for([@company, Question.new], remote: :true) do |f| %>
<p> <%= f.label :question, "New Interview Question" %><br />
	<%= f.text_area :question %>
</p>
<p><%= f.submit "Add New Question" %>
</p>
<%end%>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
