<p id="notice"><%= notice %></p>
<h1>
  <%= @company.company %>
</h1>

<h3>Questions:</h3>

<div id='questions', class="container-fluid" >
<table class="table table-striped">
	<% @company.questions.each do |question| %>
	<%= div_for question do %>
	
	<ul>
		<h2><%= h(question.question)%></h2><br>
		Posted <%= time_ago_in_words(question.created_at) %> ago
	</ul>
		<%end%>
	<%end%>
	</table>
</div>

<div class="row">
<div class="control-group">
<%= form_for([@company, Question.new], remote: :true) do |f| %>
<p> <%= f.label :question, "New Interview Question", class: 'control-label' %><br />
<div class='controls'>
	<%= f.text_area :question, :cols => "30", :rows => "10"%><br />
	</div>
</p>
</div>
 <div class="controls">
<%= f.submit "Add New Question",class: 'btn btn-info' %>
 </div>
<%end%>
</div>
<br>
<br>
<%= link_to 'Edit', edit_company_path(@company),class: 'btn btn-mini btn-primary' %> |
<%= link_to 'Back', companies_path, class: 'btn btn-mini btn-primary' %>
