<p id="notice"><%= notice %></p>
<h1>
  <%= @company.company %>
</h1>

<h3>Questions:</h3>

<div id='questions'>
	<%= render :partial => @company.questions.reverse %>
</div>

<div class="row">
<div class="control-group">
<%= form_for([@company, Question.new], remote: :true) do |f| %>
<p> <%= f.label :question, "New Interview Question", class: 'control-label' %><br />
<div class='controls'>
	<%= f.text_area :question, :cols => "30", :rows => "10"%><br />
	</div>
</p>
<p> <%= f.label :author, "author", class: 'control-label' %><br />
<div class='controls'>
	<%= f.text_field :author%><br />
	</div>
</p>
</div>
 <div class="controls">
<%= f.submit "Add New Question",class: 'btn btn-info' %>
 </div>
<%end%>
</div>
<br>
<br>
<%= link_to 'Edit', edit_company_path(@company),class: 'btn btn-mini btn-primary' %> |
<%= link_to 'Back', companies_path, class: 'btn btn-mini btn-primary' %>
