<!DOCTYPE html>
<html>
	<head>
  		<title>ECE面经</title>
  		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	</head>

	<body>
		<img src="http://varma.ece.cmu.edu/GM-CMU-AD-CRL/logo-ece.jpg" height="142" width="342">
		<div class="container">
			<ul class="nav nav-tabs">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About Us", welcome_about_path %></li>
				<li><%= link_to "Contact", welcome_contact_path %></li>
				<li><%= link_to "FAQs", welcome_faq_path %></li>
				<li><%= link_to "Login", root_path %></li>
			</ul>

			<h1>ECE 面经分享</h1>
			<p class="notice">NOTICE<%= notice %></p>
       		<p class="alert">ALERT<%= alert %></p>
			<%= yield %>
		</div>
	</body>
</html>
