<!DOCTYPE html>
<html>
	<head>
  		<title>ECE面经</title>
  		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	</head>

	<body>
		<img src="http://varma.ece.cmu.edu/GM-CMU-AD-CRL/logo-ece.jpg" height="142" width="342">
		<div class="container">
			<ul class="nav nav-tabs">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About Us", welcome_about_path %></li>
				<li><%= link_to "Contact", welcome_contact_path %></li>
				<li><%= link_to "FAQs", welcome_faq_path %></li>
				
				<% if current_user %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>

			</ul>

			<h1>ECE 面经分享</h1>

			<% if flash[:notice] %>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice]%>
				</div>
			<% elsif flash[:error] %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:error]%>
				</div>
			<% elsif flash[:alert] %>
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:alert]%>
				</div>
			<%end%>
				
			<%= yield %>
		</div>
		<div>
			<br>
			<br>
			<br>
		</div>
	</body>
</html>
